*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-primaria: #223d48;
    --color-secudaria: #905c13;
    --color-text: #1d1d1f;
    ---color-transparent: #54312b;
}
body{
    background-color: rgb(217, 217, 217);
}
section{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bode{
    background-color: rgba(151, 150, 150, 0.385);
    padding: 20px;
}
 div h2{
    font-size: 2rem;
    padding:40px ;
    margin: auto;
    
    text-align: center;
}
.section{
    min-height: 600px;
    padding: 1.5rem;
    display: flex;
    gap: 4rem;
}
.gridss{
    display: grid;
    grid-template-columns: auto auto auto;
    
}
.price_card{
    position: relative;
    width: 280px;
    height: 240px;
    margin-left: 45px;
    padding: 1rem;
    border-radius: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 0 5px 10px var(--color-secudaria);
    transition: height .8 ease;
    
}
.price_card:hover {
    height: 500px;
}
.price_card  .header{
    position: absolute;
    top: 0;
    width: 110%;
    height: 230px;
    color: #fff;
    /*background-color: aqua;*/
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.2));
    z-index: 1;
}


.price_card .header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, var(--color-secudaria),
    var(---color-transparent));
    border-radius: 20px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90% );
}

.price_card .header .info{
    position: relative;
    text-align: center;
}
.price_card .header .info h1{
    margin-bottom: 0.6rem;
    font-size: 2.2rem;
    letter-spacing: 2px;
}
.price_card .header .info p{
    margin: 0.6rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}
 p{
    font-size: 2rem;
}
.price_card .header .price{
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
    color: var(--color-primaria);
    font-size: 2.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.2);

}
.price_card .header .price p{
    text-align: center;
}
.price_card .desc {
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.price_card .desc li{
    list-style: none;
    color: #b1b1b1;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    font-size: 0.85rem;
}
.price_card .desc .i{
    font-size: 1.5rem;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.price_card .desc .bx-check{
    color: #2bcb2b;
}
.price_card button{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    border: none;
    outline: none;
    background: linear-gradient(to right, var(--color-secudaria),
    var(---color-transparent));
    padding: 1rem 3rem;
    border-radius: 30px;
    white-space: nowrap;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.2);
    z-index: 2;
}
.price_card button:active{
    scale: 0.95;
}